body {
  font-family: sans-serif;
  overflow-y: scroll;
  margin: 0;
}
h1 {
  font-size: 2.25em;
  margin: 0;
}
p {
  font-size: 1.25em;
  margin: 1em 0 1.25em;
}
a {
  text-decoration: gray dotted underline;
}
a:hover,
a:focus {
  opacity: 0.75;
}
sub {
  font-size: 60%;
}
#container {
  margin: 24px auto;
  max-width: 1200px;
}
#calculator {
  width: 100%;
  height: 600px;
}
#count {
  color: red;
  font-size: 3em;
  text-align: center;
  margin: 6px 0 3px;
}
#tree {
  font-size: 2em;
  color: #0b6ba1;
  text-align: center;
  border: 2px solid #ccc;
  overflow-x: scroll;
}
#tree:empty {
  display: none;
}
#tree ul {
  display: flex;
  padding: 0;
}
#tree > ul {
  display: inline-flex;
}
#tree li {
  display: block;
  position: relative;
}
#tree li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #54bbf7;
}
#tree li:first-child:before {
  left: 50%;
}
#tree li:last-child:before {
  right: 50%;
}
#tree div {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #caf0ff;
  border: 1px solid #54bbf7;
  border-radius: 50px;
  line-height: 100px;
  margin: 20px;
}
#tree div:before {
  content: "";
  display: block;
  position: absolute;
  top: -21px;
  left: 49px;
  bottom: -21px;
  right: 49px;
  background-color: #54bbf7;
  z-index: -1;
}
#tree > ul > li > div:before {
  top: 0;
}
#tree div:only-child:before {
  bottom: 0;
}
#tree li > span {
  display: flex;
  justify-content: center;
  position: relative;
}
#tree li > span:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  bottom: 0;
  width: 2px;
  background-color: #54bbf7;
}
#tree > ul > li > span:before {
  top: 50%;
}
#tree li > span > div:before {
  content: "";
  display: block;
  position: absolute;
  top: 49px;
  left: -21px;
  right: -21px;
  height: 2px;
  background-color: #54bbf7;
}
#tree li > span > div:first-child:before {
  left: 50%;
}
#tree li > span > div:last-child:before {
  right: 50%;
}
.fraction {
  display: inline-flex;
  flex-direction: column;
  line-height: 40px;
  vertical-align: middle;
}
.fraction span:first-child {
  border-bottom: 2px solid #0b6ba1;
}
